@use "../abstracts" as *;

// Slider de volumen dentro de los popovers de la barra
#{$popover} {
  .volume-slider {
    min-width: 150px;

    slider {
      min-height: 15px;
      min-width: 15px;
      margin: -5px;
      background: var(--primary-alt);
      border-radius: 50%;
      box-shadow: 0 0 8px theme-alpha(primary-alt, 0.25);
    }

    trough {
      background-color: theme-alpha(surface2, 0.8);
      min-height: 6px;
      border-radius: 3px;

      highlight {
        background-color: var(--primary);
        border-radius: 3px;
      }
    }
  }
}
